.container{
display: flex;
justify-content: space-evenly;
flex-direction: column;
height: 300px;
flex-wrap: wrap;
}

.box{
    width: 100px;
    height: 100px;
    background-color:blue;
    color: white;
    font: bold;
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px;

    border-radius: 30px;
}